{% extends 'webpages/base.html' %}
{% block content %}
<body>
    <div class="wrapper-calc-table mt-4">
      <h1>BODY FAT PERCENTAGE RANGE</h1>
      <table class="table">
        <tr class="axis-title">
          <td>Description</td>
          <td>Women</td>
          <td>Men</td>
        </tr>
        <tr>
          <td>Recommended Amount</td>
          <td>20 - 25%</td>
          <td>8 - 14%</td>
        </tr>
        <tr>
          <td>Adults in United States (average)</td>
          <td>22 - 25%</td>
          <td>15 - 19%</td>
        </tr>
        <tr>
          <td>Obese</td>
          <td>30%+</td>
          <td>25%+</td>
        </tr>
      </table>
    </div>
  <div class="container-base container-bfp mb-5">
    <h1>BODY FAT PERCENTAGE CALCULATOR</h1>
    <table class="table">
      <tr>
        <form action="">
          <td><label>Gender</label></td>
          <td><input type="radio" name="gender" value="male" id="m"> Male</td>
          <td><input type="radio" name="gender" value="female" id="f"> Female</td>
        </form>
      </tr>
      <tr>
        <td><label>Age</label></td>
        <td><input type="number" id="age" placeholder="Enter you're age"></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Weight</label></td>
        <td><input type="number" id="we" placeholder="Enter you're weight"></td>
      </tr>
      <tr>
        <td><label>Height</label></td>
        <td><input type="number" id="h-ft" placeholder="Enter you're height (ft)"></td>
        <td><input type="number" id="h-in" placeholder="Enter you're height (in)"></td>
      </tr>
      <tr>
        <td><label>Neck</label></td>
        <td><input type="number" id="n-ft" placeholder="Enter you're neck (ft)"></td>
        <td><input type="number" id="n-in" placeholder="Enter you're neck (in)"></td>
      </tr>
      <tr>
        <td><label>Waist</label></td>
        <td><input type="number" id="wa-ft" placeholder="Enter you're waist (ft)"></td>
        <td><input type="number" id="wa-in" placeholder="Enter you're waist (in)"></td>
      </tr>
      <tr>
        <td><label>Body Fat Percentage</label></td>
        <td><button class="btn btn-secondary" id="button-res" onClick="BodyFatPercentage()">Calculate</button></td>
        <td><p class="result-bfp result btn" id="result"></p></td>
      </tr>
    </table>
    </div>
</body>
{% endblock %}

